@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220.9 39.3% 97.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 225.3 82.6% 54.1%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 34.3 93.3% 81.6%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 225.3 82.6% 54.1%;
    --radius: 0.5rem;
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 221.2 83.2% 53.3%;
    --chart-3: 43.8 95.5% 58.8%;
    --chart-4: 22.8 95.5% 58.8%;
    --chart-5: 342.8 95.5% 58.8%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 6% 10%;
    --sidebar-primary: 225.3 82.6% 54.1%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225.3 82.6% 95%;
    --sidebar-accent-foreground: 225.3 82.6% 30%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 225.3 82.6% 54.1%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 221.2 83.2% 53.3%;
    --chart-3: 43.8 95.5% 58.8%;
    --chart-4: 22.8 95.5% 58.8%;
    --chart-5: 342.8 95.5% 58.8%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
